<div class="container">
    
    <h1>Freelancing and remote work opportunities</h1>

    <h2>Explore numerous freelancing and remote work opportunities  and premium 
        offers and benefits for ITI freelancers offered by our
         initiative partners
    </h2>

    <!--Carousel Wrapper-->
   <div id="multi-item-example" class="mb-5 carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
    <!--Slides-->
        <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="col-md-1 mb-1"></div>
            <div class="col-md-2 mb-2">
            <div class="card">
                <img class="img-fluid" src="assets/baaeed2.png"
                alt="Card image cap">
            </div>
            </div>
            <div class="col-md-2 mb-2">
            <div class="card">
                <img class="img-fluid" src="assets/Hsoub-h400-ar-b.png"
                alt="Card image cap">
            </div>
            </div>
            <div class="col-md-2 mb-2">
            <div class="card">
                <img class="img-fluid" src="assets/khamsat.png"
                alt="Card image cap">
            </div>
            </div>
            <div class="col-md-2 mb-2">
            <div class="card">
                <img class="img-fluid" src="assets/mostaqel.png"
                alt="Card image cap">
            </div>
            </div>
            <div class="col-md-2 mb-2">
                <div class="card">
                <img class="img-fluid" src="assets/remotelogo.jpg"
                    alt="Card image cap">
                </div>
            </div>
            <div class="col-md-1 mb-1"></div>
        </div>
        </div>
   </div>
  <!--/.Carousel Wrapper-->
</div>