<div class="container-fluid">
    <div class="container">
        <h1 class="head">Initiative Impact</h1>
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <h2>95,000+</h2>
                <p>Online trainees registered on different technical courses on MaharaTech</p>
                <p><img src="assets/mahara.png"></p>
            </div>
            <div class="col-md-2 col-sm-6">
                <h2>30,600+</h2>
                <p>Online trainees registered on freelancing courses on MaharaTech</p>
                <p><img src="assets/mahara.png"></p>
            </div>
            <div class="col-md-2 col-sm-6">
                <h2>6,580+</h2>
                <p>Trainees registered on sign language freelancing courses</p>
                <p><i class="fas fa-american-sign-language-interpreting"></i></p>
            </div>
            <div class="col-md-2 col-sm-6">
                <h2>1,500+</h2>
                <p>Completed the freelancing track and got the certificate</p>
                <p><i class="fas fa-graduation-cap"></i></p>
            </div>
            <div class="col-md-2 col-sm-6">
                <h2>100+</h2>
                <p>Network of freelancers and mentors located in different governorates</p>
                <p><i class="fas fa-users"></i></p>
            </div>
            <div class="col-md-2 col-sm-6">
                <h2>9</h2>
                <p>Freelancing zones in different governorates</p>
                <p><img class="p-5" src="assets/desktop.png"></p>
            </div>
        </div>
    </div>
</div>
