/* footer{
    background-color: #235587 !important;
    padding-bottom: 15px;
}

li{
    border-radius: 50%;
    background-color: white;
}
i{
    color: #235587 ;
    padding: 10px;
}

.footer-copyright{
    color:rgb(153, 142, 142);
    background-color: #235587 !important;
    top: 50%;
} */