<div style="background-color: white;" class="p-0 m-0">
    <!--Freelancers-->
    <div class="col-sm-12 col-md-12">
      <p
          style="text-align: center;font-family: 'Sriracha', cursive; font-size: 40px;color: #101546;margin-top: 7rem; line-height: normal;">
          What Our FREELANCERS and REMOTE WORKERS say</p>
          <hr style="border-width: 5px;width: 400px;background-color: #ff6f00;opacity: 0.5;">
    </div>

    <mat-carousel
    timings="500ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="white"
    maxWidth="auto"
    proportion="25"
    slides="5"
    [loop]="true"
    [hideArrows]="false"
    [hideIndicators]="true"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
    >

      <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let item of freelancersList ; let i = index"
      [hideOverlay]="true"
      >
        <div class="row pt-5 pb-0 mb-0 text-center ml-4" style="top:50%; background-color: white ; background-image: url('assets/orange-quotation-marks-md.png'),url('assets/26701-1-quotation-transparent-background.png');
        background-repeat: no-repeat;background-size:8% 35%
        ;margin-bottom: 50px;background-position: left top,right bottom;width: 96%;">
                  <div class="col-md-1">
                  </div>
                  <div class="col-sm-6  col-md-2  ">
                      <img class="img-thumbnail" [src]="item.flImg" width="150px" height="150px" style="border-radius: 50%;">
                  </div>
                  <div class="col-sm-6 col-md-8 mt-3">
                      <p class="p-2" style="font-family: 'courier', cursive;;
                              font-size: 25px;color: #1a237e;">{{item.qoute}}</p>
                      <p class="p-2" style="color: #ff6f00;">{{item.flName}} </p>
                      <p class="p-2">{{item.flJobTitle}}</p>
                  </div>
                  <div class="col-md-1">

                  </div>
          </div>
      </mat-carousel-slide>
    </mat-carousel>  
    <!--EndFreelancer-->

</div>

<div class="mb-5 carouselInsmallScreen">
  <owl-carousel-o [options]="customOptions" class="mb-5">
      <ng-container *ngFor="let item of freelancersList" >
          <ng-template carouselSlide [id]="item.id" >
            <div class="border p-2 m-2" id="cstmBrdr">
              <img [src]="item.flImg">
              <h3 style="color: #ff6f00;">{{item.flName}}</h3>
              <p class="p-0">{{item.flJobTitle}}</p>
              <p style="color: #101546;"><span style="color:#ff6f00 ;font-size: 25px;">"</span>{{item.qoute}}<span  style="color:#ff6f00 ; font-size: 25px;">"</span></p>       
            </div>
          </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>


<!-- <div class="container">
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">

    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
             alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Light mask</h3>
        <p>First text</p>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
             alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Strong mask</h3>
        <p>Secondary text</p>
      </div>
    </mdb-carousel-item>

    
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
             alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Slight mask</h3>
        <p>Third text</p>
      </div>
    </mdb-carousel-item>

  </mdb-carousel>
</div> -->