  <!--NavBar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-light">
    <a class="navbar-brand" ><img src="assets/work_from_home_logo.png" width="200px" height="50px"
            style="margin-left: 5rem;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
        style="background-color:#1a237e ;">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-light " id="navbarCollapse">
        <ul class="navbar-nav mr-auto " style="margin-left: 10rem;">
            <li class="nav-item active">
                <a class="nav-link " href="#" style="color:  #1a237e;font-weight: bold;">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#remote" style="color:  #1a237e;font-weight: bold;">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#title2" style="color:  #1a237e;font-weight: bold;">Start Learning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#experttit" style="color:  #1a237e;font-weight: bold;">Meet Experts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#session" style="color:  #1a237e;font-weight: bold;">Sessions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#counter" style="color:  #1a237e;font-weight: bold;">Freelancing Zone</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#" style="color:  #1a237e;font-weight: bold;">Impact</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="#freelanceropprt" style="color:  #1a237e;font-weight: bold;">Partners offerings</a>
            </li>

        </ul>
        <form class="form-inline mt-2 mt-md-0" action="Register (1).html">
            <button routerLink="/form/user" class="btn my-2 my-sm-0 " type="submit" id="Register1">Register <i class="fas fa-sign-in-alt"
                    style="margin-left: 1rem;"></i></button>
        </form>
    </div>
</nav>
<!--End NavBar-->