

        <!--freelancing and remote work-->
        <div class="row" id="remote"  >
            <div class="col-sm-12 col-md-4"
                style="width: auto;background-color: #ff6f00;text-align: center;color: white;" 
                data-aos="fade-up" data-aos-duration="700">
                <div>
                    <div class="card-body mt-2">
                        <i class="fas fa-graduation-cap  " style="font-size: 50px;"></i>
                        <p class="card-subtitle  mb-2 mt-3" style="font-size: 25px;">Online freelancing training</p>
                        <p class="card-text" style="font-size: 14px;">
                            Get free freelancing training on ITI's
                            MaharaTech online learning Platform. L
                            earn how to get started in freelancing and remote work by exploring the freelancing
                            courses that are offered in Arabic language and translated to sign language,
                            in addition to numerous technical courses for the highly
                            demanded technical specializations in the different freelancing platforms.</p>
                        <a class="btn mt-2 " id="Register1">Start learning</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 "
                style="width: auto;background-color: #1a237e;text-align: center;color: white;" data-aos="fade-up" data-aos-duration="800">
                <div>
                    <div class="card-body mt-2">
                        <i i class="fas fa-user-friends" style="font-size: 50px;"></i>
                        <p class="card-subtitle mb-2 mt-3" style="font-size: 25px">Freelancing experts and mentors</p>
                        <p class="card-text" style="font-size: 14px;">
                            Get free mentoring and coaching
                            from our network of experts in freelancing and remote work either as
                            online sessions and webinars or blended that we'll be announcing
                            on the website and our Facebook page.</p>
                        <a class="btn mt-5 " id="Register1">Meet our experts</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4"
                style="width: auto;background-color: #ff6f00;text-align: center;color: white;" data-aos="fade-up" data-aos-duration="900">
                <div>
                    <div class="card-body mt-2">
                        <i class="fas fa-building" style="font-size: 50px;"></i>
                        <p class="card-subtitle mb-2 mt-3" style="font-size: 25px;">Freelancing zones</p>
                        <p class="card-text" style="font-size: 14px;">
                            GGet free access to use ITI's
                            freelancing zones that are spread across different governorates offering shared
                            work places with high speed internet connection in
                            addition to mentorship and coaching in freelancing tips and tricks.</p>
                        <a class="btn mt-5 " id="Register1">Find our freelancing zones</a>

                    </div>
                </div>
            </div>
        </div>
        <!--EnnndFreelancer-->


<!-- 
    <div class="container mt-5">
            <p class="head">
                Offering freelancing training, mentoring and highlighting 
                new opportunities for youth in freelancing and remote work
            </p>
        <section id="srevices" class="pb-5">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 card-group">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><i class="fas fa-graduation-cap"></i></p>
                                <a href="#"><h4 class="card-title text-center">Online freelancing training</h4></a>
                                <p class="card-text">Get free freelancing training on ITI's MaharaTech online learning Platform.
                                     Learn how to get started in freelancing and remote work by exploring the freelancing courses 
                                     that are offered in Arabic language and translated to sign language, in addition to numerous 
                                     technical courses for the highly demanded technical specializations in the different freelancing 
                                     platforms.</p>
                                <a href="#" class="btn">start learning</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 card-group">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><i class="fas fa-user-tie"></i></p>
                                <a href="#"><h4 class="card-title text-center">Freelancing experts and mentors</h4></a>
                                <p class="card-text">Get free mentoring and coaching from our network
                                     of experts in freelancing and remote work either as online sessions and webinars
                                      or blended that we'll be announcing on the website and our Facebook page.</p>
                                <a href="#" class="btn">meet our experts</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 card-group">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><i class="fas fa-building"></i></p>
                                <a href="#"><h4 class="card-title text-center">Freelancing zones</h4></a>
                                <p class="card-text">Get free access to use ITI's freelancing zones that are
                                     spread across different governorates offering shared work places with high
                                     speed internet connection in addition to mentorship and coaching in freelancing
                                     tips and tricks.</p>
                                <a href="#" class="btn">find our freelancing zones</a>
                            </div>
                        </div>
                    </div>
        
            </div>
        </section>
    </div> -->