


<div class="courses p-5">
        <!--Our CoursesTitle-->
        <div class="row" id="title1">
            <div class="col-sm-12">
                <p
                    style="text-align: center;font-size: 50px;font-family: 'Odibee Sans', cursive;color: #101546;margin-top: 7rem; line-height: normal;" 
                    data-aos="zoom-in" data-aos-duration="2000">
                    ONLINE freelancing courses</p>
            </div>
        </div>
        
        <div class="row pb-5" id="title2">
            <div class="col-sm-12">
                <p class="pt-3"
                    style="font-size: 20px ;text-align: center;font-family: Arial, Helvetica, sans-serif;color: dimgray;" 
                    data-aos="zoom-in" data-aos-duration="2000"> 
                    Freelancing courses in Arabic with sign language support are available on <a
                        href="https://maharatech.gov.eg/">MaharaTech </a>
                    platform to help you pursue your freelancing career.</p>
            </div>
        </div> 
        <!--EnnndCoursesTitle-->

    <!-- <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation pb-5" [type]="'carousel-multi-item'"
                [animation]="'slide'">
    <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-md-3" *ngFor="let card of item; let cardIndex = index">
        <mdb-card class="my-1">
            <mdb-card-img [src]="card.image" alt="Card image cap"></mdb-card-img>
            <mdb-card-body>
            <p style="color:black;">{{card.courseName}}</p>
            </mdb-card-body>
        </mdb-card>
        </div>
    </mdb-carousel-item>
    </mdb-carousel> -->

    <br>
    <!-- owl test -->
    <owl-carousel-o [options]="customOptions">
 
    <ng-container *ngFor="let slide of coursesList">
      <ng-template carouselSlide [id]="slide.id">
        <img class="img img-thumbnail" [src]="slide.image">
        <p class="p-4 border" style="color:black; left: 10%;">{{slide.courseName}}</p>
      </ng-template>
      
    </ng-container>
 
  </owl-carousel-o>

            
           
</div> 

<br>
<!--Maharahtech-->
<div class="container">
	<div class="row">
		<div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/unnamed.png"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://images.pexels.com/photos/158971/pexels-photo-158971.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/new logoVER09-14.png"
                         alt="Another alt text">
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://images.pexels.com/photos/305070/pexels-photo-305070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="assets/Coursera.PNG"
                         alt="Another alt text">
                </a>
            </div>
        </div>
	</div>
</div>
<!--EnndMaharahtech-->

