<div class="container">

    <h2 style="font-family: 'Lobster', cursive;font-size: 50px;color: rgb(10, 17, 117);padding-top: 2rem;text-align: center;">
        ITI freelancing zones' freelancing and remote working experts</h2>
    <div class="row" style="background-color: rgba(60, 62, 71, 0.9);
    width: 800px;height: auto;border-radius: 5%;box-shadow: 2px 2px 25px 5px #ffff;text-align: center;
    margin-left: auto;margin-right: auto;margin-top: 2rem;">
        <div class="form-login" >
            <label id="userName"
                style="color: white;font-size: 25px;font-family: 'Bebas Neue', cursive;">Full Name </label>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Enter Your Answer" />
            <br>
            <label id="fullname"
                style="color: white;font-size: 25px;font-family: 'Bebas Neue', cursive;">Email</label>
            <input type="text" id="fullname" class="form-control input-sm chat-input" placeholder="Enter Your Answer" />

            <br>
            <label id="University"
                style="color: white;font-size: 25px;font-family: 'Bebas Neue', cursive;">Mobile Number</label>
            <input type="text" id="University" class="form-control input-sm chat-input" placeholder="Enter Your Answer" />
            <br>

            <label id="Faculty"
                style="color: white;font-size: 25px;font-family: 'Bebas Neue', cursive;">Governorate of residence</label>
            <input type="text" id="Faculty" class="form-control input-sm chat-input" placeholder="Enter Your Answer" />
            <br>
            <label id="grayear" style="color: white;font-size: 25px;font-family: 'Bebas Neue', cursive;">Total number of years of experience in freelancing or remote work 
            </label>
            <input type="text" id="grayear" class="form-control input-sm chat-input" placeholder="Enter Your Answer" />
          <br>
            <label id="Intake" style="color: white;font-size: 25px;font-family: 'Bebas Neue', cursive;">lease tell us about your experience in freelancing or remote working, mentioning you profile links in freelancing platforms (if exist).</label>
            <input type="text" id="Intake" class="form-control input-sm chat-input" placeholder="Enter Your Answer" />
            <br>
            
            <div class="wrapper">
                <span class="group-btn">
                    <a href="#" class="btn  btn-md w-50" style="background-color: chocolate;color: white;font-size: 25px;font-family: 'Sriracha', cursive;">Submit </a>
                </span>
            </div>
        </div>

    </div>
    
</div>