

          <!--HeaderVideo-->
          <div class="row" >
            <div class="col-md-12 col-sm-12">
                <header>
                    <div class="overlay"></div>
                    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                        <source src="assets/Background Video for Website.mp4" type="video/mp4">
                    </video>
                    <div class="container h-100">
                        <div class="d-flex h-100 text-center align-items-center">
                            <div class="w-100 text-white">
                                <h1 class="display-3 mb-5 pb-5" style="font-size: 50px;font-family: 'Indie Flower', cursive; line-height: normal;" >
                                    Freelancing and Remote Work Initiative</h1>
                                <p class="lead mb-3 pb-3" style="font-size: 40px;font-family: 'El Messiri', sans-serif;"
                                data-aos="fade-left"
                                data-aos-offset="300"
                                data-aos-easing="ease-in-sine"
                                data-aos-duration="800">
                                    مبادرة</p>
                                <p class="lead mb-4" style="font-size: 40px;font-family: 'El Messiri', sans-serif;"
                                data-aos="fade-left"
                                data-aos-offset="300"
                                data-aos-easing="ease-in-sine" 
                                data-aos-duration="800">شغلك
                                    من بيتك</p>
                            </div>
                        </div>
                    </div>
                </header>
            </div>

        </div>
        <!--End Header-->

        <app-main-services></app-main-services>
        <app-freelancing-courses></app-freelancing-courses>
        <app-expert-freelancers></app-expert-freelancers>
        <app-sessions></app-sessions> 
        <app-freelancing-zones></app-freelancing-zones>
        <app-impact></app-impact>
        <app-freelancers></app-freelancers>
        <app-partners-offerings></app-partners-offerings>
