 img {
    width: 40%;
    height: 30%;
    margin: 10px auto;
    border-radius: 8px;
}

.head{
    text-align: center;
    font-size: 30px;
    color: #17214d ;
    width: auto;   
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 10px;
}

h2{
    color: #ff6f00 ;
}

i{
    color: #ff6f00;
} 