<div class="container-fluid">
    <div class="container">
        <h1 class="pt-5">Freelancing zones</h1>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/Zones.JPG" class="p-5 img-thimbnail firstImg">
            </div>
            <div class="col-md-6 col-sm-12 p-5">
                <h3 class="p-3">
                    Need a fully equipped place with the high speed internet 
                    needed to work remotely, our freelancing zones provide the 
                    physical support of the place and internet and a network of
                    colleagues and mentors to exchange ideas and provide tips and
                    tricks, follow our page for the live sessions and webinars,
                    in addition to our network of partners that would help you
                    find a job in such career.
                </h3>
                <p class="p-3 covidannouncement">
                    <i class="fas fa-bullhorn"></i>
                    Due to “COVID 19” safety measures the
                    zones are temporarily closed but our experts
                    and mentors sessions are scheduled weekly as
                    online session. Follow us on the website and our
                    Facebook page, and register to receive details of 
                    upcoming sessions.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="contaner-fluid mb-5">
    <h1 id="branchesZones" class="pt-5">Find our freelancing zone on the following ITI branches</h1>

    <div class="row branches">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-5 branch">
                    <i class="fas fa-map-marker-alt"></i>
                     Alexandria
                     <p>El Shohada Square, Main post office building.</p>
                </div>
                <div class="col-5 branch">
                    <i class="fas fa-map-marker-alt"></i>
                    Assuit
                    <p>Assuit university, communication building, 4th floor</p>
                </div>
            </div>
            <div class="row">
                <div class="col-5 branch">
                    <i class="fas fa-map-marker-alt"></i>
                    Ismailia
                     <p>Suez Canal University.</p>
                </div>
                <div class="col-5 branch">
                    <i class="fas fa-map-marker-alt"></i>
                    Sohag
                    <p>Sohag New University.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-5 branch">
                    <i class="fas fa-map-marker-alt"></i>
                    Menoufia
                     <p>Menoufia University.</p>
                </div>
                <div class="col-5 branch">
                    <i class="fas fa-map-marker-alt"></i>
                    Qena
                    <p>Qena University.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-5 branch">
                    <i class="fas fa-map-marker-alt"></i>
                    Mansoura
                     <p>Mansoura University.</p>
                </div>
                <div class="col-5 branch">
                    <i class="fas fa-map-marker-alt"></i>
                    Aswan
                    <p>Aswan University.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-10 branch">
                    <i class="fas fa-map-marker-alt"></i>
                    Menia
                    <p>Menia University.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <img class="img-thumbnail img-responsive mapImg" src="assets/iti-map.png">
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


