<div class="container">
    <h2 style="font-family: 'Lobster', cursive;font-size: 50px;color:rgb(47, 55, 163);padding-top: 2rem;text-align: center;">
        ITI freelancing zones initiative partners
    </h2>
    <div class="row" style="background-color: rgba(6, 36, 170, 0.9);;
    width: 700px;height: auto;border-radius: 5%;box-shadow: 2px 2px 25px 5px #101010;text-align: center;
    margin-left: auto;margin-right: auto;margin-top: 4rem;" >
        <div class="form-login" >
            <div>
                
            </div>
            <label id="userName"
                style="color: white;font-size: 25px;font-family: 'Bebas Neue', cursive;">Business Name</label>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Enter Your Business Name" />
            <br>
            <label id="fullname"
                style="color: white;font-size: 25px;font-family: 'Bebas Neue', cursive;">Website </label>
            <input type="text" id="fullname" class="form-control input-sm chat-input" placeholder="Enter your Website" />

            <br>
            <label id="University"
                style="color: white;font-size: 25px;font-family: 'Bebas Neue', cursive;">Contact Email</label>
            <input type="text" id="University" class="form-control input-sm chat-input" placeholder="Your Contact Email " />
            <br>

            <label id="Faculty"
                style="color: white;font-size: 25px;font-family: 'Bebas Neue', cursive;">Mobile Number</label>
            <input type="text" id="Faculty" class="form-control input-sm chat-input" placeholder="Mobile Number" />
            <br>
            <label id="grayear" style="color: white;font-size: 25px;font-family: 'Bebas Neue', cursive;">Please explain the services and facilities you provide to our freelancers and remote workers network. </label>
            <input type="text" id="grayear" class="form-control input-sm chat-input" placeholder=" services and facilities" />
            <br>
           
            <div class="wrapper">
                <span class="group-btn">
                    <a href="#" class="btn  btn-md w-50" style=" background-image: linear-gradient(to right, #ff6f00, #ffa000);
                    color: white;font-size: 25px;font-family: 'Sriracha', cursive;">Submit </a>
                </span>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
</div>